doctype html
html
    head
        title Happy Harry's Hardware
        link(href="/css/bootstrap.css", rel="stylesheet")
        script(src="/js/bootstrap.js", type="application/javascript")

    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top
            .container
                a.navbar-brand(href='#')
                    img(src='imgs/dilbert.png', alt='My Logo', height='50')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href="/") Home
                        li.nav-item
                            a.nav-link(href="/customers") Customers
                        li.nav-item
                            a.nav-link(href="/products") Products
                        li.nav-item
                            a.nav-link(href="/sales") Sales

        .container.mt-5
            block content