extends layouts/base.pug

block content
    h1 Customers

    table.table
        thead
            tr
                th Name
                th Email
                th Total Sales ($)
                th
        tbody
            each customer in customers
                tr
                    td= customer.CustomerName || 'N/A'
                    td= customer.CustomerEmail || 'N/A'
                    td= `$${customer.TotalSales || 0}`
                    td
                        a.btn.btn-primary(href=`/customers/${customer.id}/edit`) Update

    button.btn.btn-primary Insert New Customer