extends layouts/base.pug

block content
    h1 Customers

    table.table.table-striped
        thead
            tr
                th.bg-info.text-white Name
                th.bg-info.text-white Email
                th.bg-info.text-white Total Sales ($)
                th.bg-info.text-white
        tbody
            each customer in customers
                tr
                    td= customer.CustomerName || 'N/A'
                    td= customer.CustomerEmail || 'N/A'
                    td= `$${customer.TotalSales || 0}`
                    td
                        a.btn.btn-secondary(href=`/customers/${customer.CustomerID}/edit`) Update
    a.btn.btn-secondary(href='/add-customer') Insert New Customer