extends layouts/base.pug

block content
    h1 Products

    table.table.table-striped
        thead
            tr
                th.bg-info.text-white Product Name
                th.bg-info.text-white Price
        tbody
            each product in items
                tr
                    td= product.ItemName|| 'N/A'
                    td= `$${product.ItemPrice || 0}`

    a(href='/add-product')
        button.btn.btn-secondary Insert New Product